<div class="desktop" style="text-align: center; grid-column: main-end / wide-end; margin-top: 0px;">
<div>
    <div style="margin: 0px 4px; padding: 2px; background-color: #78909c;">
    <a class="twitter-timeline" data-lang="ja" data-theme="light" data-height="800px" href="https://twitter.com/bot_twelvetk?ref_src=twsrc%5Etfw">Tweets by bot_twelvetk</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>    
    {{!-- <div style="height: 1vmin;"></div>
    <script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="121f5369.e20103c5.121f536a.93986500";rakuten_items="ranking";rakuten_genreId="100026";rakuten_size="120x600";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="off";rakuten_genre_title="off";rakuten_recommend="on";rakuten_ts="1656115235197";</script><script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
    <div style="height: 1vmin;"></div>
    <script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="121f5369.e20103c5.121f536a.93986500";rakuten_items="ranking";rakuten_genreId="200162";rakuten_size="120x600";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="off";rakuten_genre_title="off";rakuten_recommend="on";rakuten_ts="1656115580433";</script><script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
    <div style="height: 1vmin;"></div>
    <script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="121f5369.e20103c5.121f536a.93986500";rakuten_items="ranking";rakuten_genreId="562637";rakuten_size="120x600";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="off";rakuten_genre_title="off";rakuten_recommend="on";rakuten_ts="1656115553620";</script><script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
    <div style="height: 1vmin;"></div> --}}

    <hr>
    <h4>カテゴリ一覧</h4>
    <div style="margin: 0 auto; text-align: initial; width: fit-content;">
        <li style="list-style: square;"><a href="/tag/aws/">AWS</a></li>
        <li style="list-style: square;"><a href="/tag/azure/">Azure</a></li>
        <li style="list-style: square;"><a href="/tag/gcp/">GCP</a></li>
    </div>
</div>
</div>